.about .look .box .img-box img {
    border-color: #bbbbbb transparent transparent transparent;
    border-width: 7px 6px 0 6px;
    border-style: solid;
    display: block;
    content: " ";
    border-radius: 250px 25%;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.25);
}